<header id="header">
	<h1 id="logo"><a href="/">Devp-YG</a></h1>
	<nav id="nav">
		<ul>
			<li><a href="/">Welcome</a></li>
			<li><a href="/portfolio.html">Portfolio</a></li>
			<li><a href="/privacy_policy.html">개인정보 처리방침</a></li>
			<li><a href="/privacy_policy_en.html">Privacy Policy</a></li>
			<li><a href="mailto:devp.yg@gmail.com?Subject=지원문의" class="button special">Contact</a></li>
		<!--
			<li class="submenu">
				<a href="">Layouts</a>
				<ul>
					<li><a href="/left-sidebar.html">Left Sidebar</a></li>
					<li><a href="/right-sidebar.html">Right Sidebar</a></li>
					<li><a href="/no-sidebar.html">No Sidebar</a></li>
					<li><a href="/contact.html">Contact</a></li>
					<li class="submenu">
						<a href="">Submenu</a>
						<ul>
							<li><a href="#">Dolore Sed</a></li>
							<li><a href="#">Consequat</a></li>
							<li><a href="#">Lorem Magna</a></li>
							<li><a href="#">Sed Magna</a></li>
							<li><a href="#">Ipsum Nisl</a></li>
						</ul>
					</li>
				</ul>
			</li>
		-->
		</ul>
	</nav>
</header>
